.heading {
    text-align: center;
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.instructions-text, .note-text {
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;
    text-align: center;
}

.instructions-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.instructions-list {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 20px;
    text-align: center;
}

.instructions-list li {
    font-size: 1rem;
    color: #555;
    margin: 5px 0;
}

/* Form Styles */
.form-container {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 15px;
}

.form-label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    color: #333;
}

.month-select, .year-select {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.generate-btn {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.generate-btn:hover {
    background-color: #45a049;
}
 
.btn {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 25px;
}


.finance_btn {
  border-radius: 10px;
  background-color: #f4f4f4;
  padding: 15px 25px;  
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px; 
  text-align: center;
}


.finance_btn:hover {
  background-color: #ddd; 
}


.finance_btn a {
  text-decoration: none;
  color: black;  
  font-weight: bold;  
}


.finance_btn:active {
  background-color: #ccc;  
}


