{% extends 'pages/index.html' %}
{% block content %}

<div class="financial-container">
    <div class="action-buttons">
        <button class="action-btn"><a href="{% url 'add_income' %}">Add Income</a></button>
        <button class="action-btn"><a href="{% url 'add_expense' %}">Add Expense</a></button>
        <button class="action-btn"><a href="{% url 'add_savings' %}">Add Savings</a></button>
    </div>

    <!-- Incomes Table -->
    <div class="financial-table">
        <h2>Incomes</h2>
        <table class="income-table">
            <thead>
                <tr>
                    <th>Source</th>
                    <th>Amount</th>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for income in incomes %}
                <tr>
                    <td>{{ income.source }}</td>
                    <td>{{ income.amount }}</td>
                    <td>{{ income.date }}</td>
                    <td>{{ income.description }}</td>
                    <td><a href="{% url 'update_income' income.id %}">Edit</a> | <a href="{% url 'delete_income' income.id %}"> Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Expenses Table -->
    <div class="financial-table">
        <h2>Expenses</h2>
        <table class="expense-table">
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Amount</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for expense in expenses %}
                <tr>
                    <td>{{ expense.category }}</td>
                    <td>{{ expense.amount }}</td>
                    <td>{{ expense.description }}</td>
                    <td>{{ expense.date }}</td>
                    <td><a href="{% url 'update_expense' expense.id %}">Edit</a> | <a href="{% url 'delete_expense' expense.id %}"> Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Savings Table -->
    <div class="financial-table">
        <h2>Savings</h2>
        <table class="savings-table">
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Amount</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for saving in savings %}
                <tr>
                    <td>{{ saving.category }}</td>
                    <td>{{ saving.amount }}</td>
                    <td>{{ saving.description }}</td>
                    <td>{{ saving.date }}</td>
                    <td><a href="{% url 'update_savings' saving.id %}">Edit</a> | <a href="{% url 'delete_savings' saving.id %}"> Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>

{% endblock %}
